.background{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 80px;
    /* gap: 80px; */
}

.background span h1{
    display: block;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    text-transform: capitalize;
    color: #FF4081;
    margin-bottom: 0;
}

.background span p{
    display: block;
    margin: 0 auto;
    margin-top: 0;
    margin-left: 30px;
    height: fit-content;
    max-width: 512px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

.background img{
    width: fit-content;
}

.container{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    max-width: fit-content; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.aula{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 95px;
    padding-bottom: 60px;
    /* width: 100%;
    max-width: 100%; */
    border-bottom: solid #C4C4C4 2px;
}

.aula span{
    width: 30%;
    max-width: 100%;
    align-items: center;
    max-width: 100%;
}

.aula:last-child{
    margin-bottom: 202px;
    border: none;
    padding-bottom: 0;
}

.aula img{
    width: fit-content;
    height: fit-content;
    max-width: 100%;
}

.aula span p{
    max-width: 100%;
    margin-left: 0px;
    height: fit-content;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 50px;
}

.aula span h2{
    margin-top: 0;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;

    color: #FF4081;
}

.aula span a{
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 400;
    max-width: 100%;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #419488;
    border-radius: 62px;
}

@media only screen and (max-width: 1138px) {
    .background{
        margin-top: 80px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 80px;
        gap: 80px;
    }
    
}

@media only screen and (max-width: 1000px) {
    .aula{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10%;
        margin-top: 95px;
        padding-bottom: 60px;
        border-bottom: solid #C4C4C4 2px;
    }
}


@media only screen and (max-width: 769px) {
        .aula span p{
            width: fit-content;
        }
}