body,main {
    font-family: Ubuntu;
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #2E948A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header div ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header div ul li{
    margin: 0;
    list-style: none;
}

header div ul li a{
    text-decoration: none;
    color: #fdfdfd;
    margin: 0 37px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

footer {
    height: fit-content;
    width: 100%;
    background-color: #2E948A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

footer ul {
    color: #fdfdfd;
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.lista-button li{
    border: 2px solid #ffffff;
    width: 289px;
    height: 51px;
    box-sizing: border-box;
    border-radius: 62px;
    text-align: center;
    padding-top: 11px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 862) {
    header{

    }
}

@media only screen and (max-width: 769px) {
    footer{

    }
}

@media only screen and (max-width: 481px) {


}